/* common styles start here */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.description {
  font-size: 17px;
  color: #727272;
  line-height: 26px;
}
.explore-btn {
  width: 140px;
  height: 55px;
  background: #ff900e;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 16px;
  margin: 40px 0;
  transition: all 0.5s ease-in-out 0.1s;
}
.explore-btn:hover {
  background: #b46101;
  transform: translateY(-10px);
}
/*-------------------------------------------------
 header styles start here
 ------------------------------------------------- */

/* nav styles start here */
.header-container {
  background: rgba(255, 144, 14, 0.1);
  height: 1080px;
  margin-bottom: 80px;
}
.nav-container {
  padding: 40px 220px;
}
.navs {
  display: flex;
  justify-content: space-between;
}
.brand h3 {
  font-size: 40px;
  color: #131313;
}
.nav a {
  text-decoration: none;
  font-size: 18px;
  color: #424242;
  margin-left: 60px;
}
/* nav responsive start here */
@media only screen and (max-width: 576px) {
  .nav-container {
    padding: 20px 10px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .nav a {
    font-size: 16px;
  }
  .brand h3 {
    font-size: 25px;
    color: #131313;
  }
}
@media only screen and (min-width: 577px) {
  .nav-container {
    padding: 20px 50px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .nav a {
    font-size: 17px;
  }
  .brand h3 {
    font-size: 30px;
    color: #131313;
  }
}
@media only screen and (min-width: 768px) {
  .nav-container {
    padding: 30px 100px;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav a {
    font-size: 18px;
    margin-left: 30px;
  }
  .brand h3 {
    font-size: 30px;
    color: #131313;
  }
}
@media only screen and (min-width: 992px) {
  .nav-container {
    padding: 40px 220px;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav a {
    font-size: 18px;
    margin-left: 60px;
  }
  .brand h3 {
    font-size: 40px;
    color: #131313;
  }
}
/* nav styles end here */

/* banner styles start here */
.banner-container {
  margin: 100px 220px 45px 220px;
}
.banner-content {
  text-align: center;
  margin: 0 100px;
}
.banner-content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}
.banner-image img {
  width: 100%;
}
/* banner responsive start here */
@media only screen and (max-width: 576px) {
  .header-container {
    height: 740px;
  }
  .banner-container {
    margin: 50px 10px 20px 10px;
  }
  .banner-content {
    margin: 0 50px;
  }
  .banner-content h1 {
    font-size: 35px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 20px;
  }
  .description {
    font-size: 15px;
  }
  .explore-btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin: 30px 0;
  }
}
@media only screen and (min-width: 577px) {
  .header-container {
    height: 810px;
  }
  .banner-container {
    margin: 50px 10px 20px 10px;
  }
  .banner-content {
    margin: 0 50px;
  }
  .banner-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 20px;
  }
  .description {
    font-size: 15px;
  }
  .explore-btn {
    width: 130px;
    height: 45px;
    font-size: 14px;
    margin: 30px 0;
  }
}
@media only screen and (min-width: 768px) {
  .header-container {
    height: 870px;
  }
  .banner-container {
    margin: 70px 100px 30px 100px;
  }
  .banner-content {
    margin: 0 70px;
  }
  .banner-content h1 {
    font-size: 45px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 20px;
  }
  .description {
    font-size: 16px;
  }
  .explore-btn {
    width: 130px;
    height: 50px;
    font-size: 15px;
    margin: 40px 0;
  }
}
@media only screen and (min-width: 992px) {
  .header-container {
    height: 1080px;
  }
  .banner-container {
    margin: 100px 220px 45px 220px;
  }
  .banner-content {
    margin: 0 100px;
  }
  .banner-content h1 {
    font-size: 60px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
  }
  .description {
    font-size: 17px;
  }
  .explore-btn {
    width: 140px;
    height: 55px;
    font-size: 15px;
    margin: 40px 0;
  }
}
/* banner styles end here */

/*-------------------------------------------------
 header styles end here
 ------------------------------------------------- */

/*-------------------------------------------------
 quick list styles starts here
 ------------------------------------------------- */
/* quick list styles start here */
.quick-list-container {
  margin: 0 240px 100px 240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}
.quick-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.quick-image img {
  width: 200px;
  height: 200px;
}
.quick-content {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.quick-content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.quick-content .color-gray {
  color: #727272;
}
.quick-content .color-black {
  color: #131313;
}
.quick-content .color-orange {
  color: #ff900e;
}

/* quick list responsive start here */
@media only screen and (max-width: 576px) {
  .quick-list-container {
    margin: 0 10px 30px 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }
  .quick-images {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    text-align: center;
  }
  .quick-image img {
    width: 360px;
    height: 360px;
  }
  .quick-content {
    text-align: center;
  }
  .quick-content h2 {
    font-size: 25px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 577px) {
  .quick-list-container {
    margin: 0 30px 30px 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }
  .quick-images {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    text-align: center;
  }
  .quick-image img {
    width: 250px;
    height: 250px;
  }
  .quick-content {
    text-align: center;
  }
  .quick-content h2 {
    font-size: 30px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .quick-list-container {
    margin: 0 30px 30px 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }
  .quick-images {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    text-align: center;
  }
  .quick-image img {
    width: 300px;
    height: 300px;
  }
  .quick-content {
    text-align: center;
  }
  .quick-content h2 {
    font-size: 35px;
    font-weight: 700;
  }
}
@media only screen and (min-width: 992px) {
  .quick-list-container {
    margin: 0 240px 100px 240px;
    grid-template-columns: repeat(2, 1fr);
  }
  .quick-images {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    text-align: center;
  }
  .quick-image img {
    width: 200px;
    height: 200px;
  }
  .quick-content {
    text-align: left;
  }
  .quick-content h2 {
    font-size: 40px;
    font-weight: 700;
  }
}
/*-------------------------------------------------
 quick list styles end here
 ------------------------------------------------- */

/*-------------------------------------------------
 feature styles starts here
 ------------------------------------------------- */

/* feature style start here */
.features-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 120px;
  margin: 20px 220px 100px 220px;
  padding-bottom: 27px;
}
.features-content {
}
.feature-header {
}
.header-title {
  font-size: 40px;
  color: #131313;
  font-weight: 700;
  margin-bottom: 24px;
}
.feature-header h2 {
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}
.feature-header p {
}
.single-feature {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 5px 0;
  padding: 20px;
}
.single-feature h4 {
  font-size: 20px;
  color: #131313;
  margin-bottom: 10px;
}
.features-image img {
  width: 410px;
  height: 670px;
}
.experience-btn {
  height: 160px;
  width: 270px;
  background: #ff900e;
  color: white;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 200px;
  z-index: 10;
}

.experience-btn h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 30px;
}
.experience-btn p {
  font-size: 20px;
  font-weight: 500;
}

/* quick list responsive start here */
@media only screen and (max-width: 576px) {
  .features-container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    margin: 50px 10px 50px 10px;
    text-align: center;
    padding-bottom: 50px;
  }
  .header-title {
    font-size: 25px;
  }
  .feature-header h2 {
    margin: 0 110px;
    text-align: left;
    margin-bottom: 20px;
  }
  .single-feature h4 {
    font-size: 15px;
  }
  .experience-btn {
    width: 230px;
    height: 130px;
    position: absolute;
    bottom: 0;
    right: 230px;
    z-index: 10;
  }
  .experience-btn h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
  }
  .experience-btn p {
    font-size: 18px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 577px) {
  .features-container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    margin: 50px 15px 50px 15px;
    text-align: center;
    padding-bottom: 50px;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .header-title {
    font-size: 30px;
  }
  .feature-header h2,
  .para {
    text-align: left;
    margin-bottom: 20px;
  }
  .single-feature h4 {
    font-size: 16px;
  }
  .experience-btn {
    width: 240px;
    height: 130px;
    position: absolute;
    bottom: 0;
    right: 410px;
    z-index: 10;
  }
  .experience-btn h1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
  }
  .experience-btn p {
    font-size: 18px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    margin: 50px 60px 50px 60px;
    text-align: left;
    padding-bottom: 50px;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .header-title {
    font-size: 30px;
  }
  .feature-header h2,
  .para {
    text-align: left;
    margin-bottom: 20px;
  }
  .single-feature h4 {
    font-size: 16px;
  }
  .experience-btn {
    width: 240px;
    height: 130px;
    position: absolute;
    bottom: 0;
    right: 410px;
    z-index: 10;
  }
  .experience-btn h1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
  }
  .experience-btn p {
    font-size: 18px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 992px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    margin: 20px 220px 100px 220px;
    padding-bottom: 27px;
    text-align: left;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .header-title {
    font-size: 40px;
  }
  .feature-header h2,
  .para {
    text-align: left;
    margin-bottom: 20px;
  }
  .single-feature h4 {
    font-size: 20px;
  }
  .experience-btn {
    width: 270px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 10;
  }
  .experience-btn h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 30px;
  }
  .experience-btn p {
    font-size: 20px;
    font-weight: 500;
  }
}
/*-------------------------------------------------
 feature styles end here
 ------------------------------------------------- */

/*-------------------------------------------------
 blog styles starts here
 ------------------------------------------------- */

/* blog styles start here */
.blog-container {
  margin: 10px 220px 100px 220px;
  text-align: center;
}
.blog-container .blog-para {
  margin: 0 100px 20px 100px;
}
.blog-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}
.single-cart {
  width: 270px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.281);
  border-radius: 8px;
  transition: all 0.5s ease-in-out 0.1s;
}
.single-cart:hover {
  transform: scale(0.9);
}
.single-cart img {
  width: 100%;
  height: 200px;
}
.cart-info h3 {
  color: #131313;
  font-size: 20px;
  margin: 20px 0;
}

/* blog responsive start here */
@media only screen and (max-width: 576px) {
  .blog-container {
    margin: 100px 10px 100px 10px;
    text-align: center;
  }
  .blog-container .blog-para {
    margin: 0 20px;
  }
  .blog-cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .single-cart {
    width: 320px;
  }
  .blog-container .blog-para {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (min-width: 577px) {
  .blog-container {
    margin: 100px 10px 100px 10px;
    text-align: center;
  }
  .blog-container .blog-para {
    margin: 0 40px;
  }
  .blog-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .single-cart {
    width: 320px;
  }
  .blog-container .blog-para {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .blog-container {
    margin: 100px 10px 100px 10px;
    text-align: center;
  }
  .blog-container .blog-para {
    margin: 0 40px;
  }
  .blog-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .single-cart {
    width: 320px;
  }
  .blog-container .blog-para {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .blog-container {
    margin: 100px 220px 100px 220px;
    text-align: center;
  }
  .blog-container .blog-para {
    margin: 0 100px;
  }
  .blog-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .single-cart {
    width: 270px;
  }
  .blog-container .blog-para {
    margin: 0 100px 20px 100px;
  }
}
/*-------------------------------------------------
 feature styles end here
 ------------------------------------------------- */

/*-------------------------------------------------
 facts styles start here
 ------------------------------------------------- */

/* facts styles here */
.facts-container {
  margin: 0 220px 100px 220px;
}
.facts-container .fact-para {
  margin-bottom: 30px;
  margin-right: 500px;
}
.facts-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}
.single-carts {
  border: 1px solid #ff900e;
  border-radius: 8px;
  transition: all 0.5s ease 0.1s;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.single-carts:hover {
  transform: translateY(-15px);
}
.cart-digit {
  font-size: 40px;
  color: #424242;
}
.single-carts span {
  font-size: 20px;
  color: #727272;
}

/* facts responsive start here */
@media only screen and (max-width: 576px) {
  .facts-container {
    margin: 0 10px 100px 10px;
    text-align: center;
  }
  .facts-container .fact-para {
    margin-bottom: 30px;

    margin: 30px 50px;
  }
  .facts-cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
    justify-items: center;
  }
}
@media only screen and (min-width: 577px) {
  .facts-container {
    margin: 0 10px 100px 10px;
    text-align: center;
  }
  .facts-container .fact-para {
    margin-bottom: 30px;

    margin: 30px 70px;
  }
  .facts-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    justify-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .facts-container {
    margin: 0 10px 100px 10px;
    text-align: center;
  }
  .facts-container .fact-para {
    margin-bottom: 30px;

    margin: 30px 90px;
  }
  .facts-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    justify-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .facts-container {
    margin: 0 220px 100px 220px;
    text-align: left;
  }
  .facts-container .fact-para {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 450px;
  }
  .facts-cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 25px;
    justify-items: center;
  }
}
/*-------------------------------------------------
 facts styles end here
 ------------------------------------------------- */

/*-------------------------------------------------
 sponsor styles start here
 ------------------------------------------------- */

/* sponsor styles start here */
.sponsor-container {
  margin: 0 220px 100px 220px;
  text-align: center;
}
.sponsor-container .sponsor-para {
  margin: 0 110px;
  margin-bottom: 50px;
}
.brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
}
.brand img {
  width: 100px;
}

/* sponsor responsive start here */
@media only screen and (max-width: 576px) {
  .sponsor-container {
    margin: 0 10px 100px 10px;
    text-align: center;
  }
  .sponsor-container .sponsor-para {
    margin: 0 20px;
    margin-bottom: 50px;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  .brand img {
    width: 150px;
  }
}
@media only screen and (min-width: 577px) {
  .sponsor-container {
    margin: 0 10px 100px 10px;
    text-align: center;
  }
  .sponsor-container .sponsor-para {
    margin: 0 20px;
    margin-bottom: 50px;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
  .brand img {
    width: 140px;
  }
}
@media only screen and (min-width: 768px) {
  .sponsor-container {
    margin: 0 10px 100px 10px;
    text-align: center;
  }
  .sponsor-container .sponsor-para {
    margin: 0 80px;
    margin-bottom: 50px;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
  .brand img {
    width: 140px;
  }
}
@media only screen and (min-width: 992px) {
  .sponsor-container {
    margin: 0 220px 100px 220px;
    text-align: center;
  }
  .sponsor-container .sponsor-para {
    margin: 0 110px;
    margin-bottom: 50px;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 50px;
  }
  .brand img {
    width: 100px;
  }
}

/*-------------------------------------------------
 sponsor styles end here
 ------------------------------------------------- */

/* footer section start here */
.footer-container {
  margin: 0 220px;
  background: #fff4e7;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container p {
  color: #424242;
  font-size: 20px;
}
/* footer responsive start here */
@media only screen and (max-width: 576px) {
  .footer-container {
    margin: 0 10px;
  }
  .footer-container p {
    text-align: center;
    font-size: 16px;
    margin: 0 50px;
  }
}
@media only screen and (min-width: 577px) {
  .footer-container {
    margin: 0 20px;
  }
  .footer-container p {
    text-align: center;
    font-size: 17px;
    margin: 0 60px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    margin: 0 100px;
  }
  .footer-container p {
    text-align: center;
    font-size: 18px;
    margin: 0 80px;
  }
}
@media only screen and (min-width: 992px) {
  .footer-container {
    margin: 0 220px;
  }
  .footer-container p {
    font-size: 20px;
  }
}
/* footer section end here */
